#top-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3rem;
    width: auto;
    padding-top: 0.5rem;
    background-color: rgb(0, 7, 25);
    border-bottom: 2px solid rgba(133, 133, 133, 0.1);
    font-family: "Kanit, sans-serif";
}

#top-bar .title {
    float: left;
    align-content: center;
}

#top-bar .title h1 {
    color: #5A00EE;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    font-family: "Kanit, sans-serif";
}

#top-bar .title h3 {
    color: #5A00EE;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;
    font-family: "Kanit, sans-serif";
}

#top-bar .features {
    display: grid; /* Enables grid layout */
    grid-auto-flow: column; /* Aligns items in a horizontal row */
    gap: 1rem; /* Adds spacing between items */
    justify-content: end; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

#top-bar .user-login {
    float: right;
    line-height: 40px;
}


/** Toggle design **/

#top-bar .toggle-view {
    line-height: 2rem;
    float: right;
    margin-right: 2rem;
    cursor: pointer;
}
@media handheld, only screen and (max-width: 767px) {
    #top-bar .toggle-view {
        margin-right: 0.5rem;
    }
}

#top-bar .toggle-view a {
    border: 2px solid grey;
    padding: 2px;
}
@media handheld, only screen and (max-width: 767px) {
    
    #top-bar .toggle-view a {
        display: none;
    }

    #top-bar .toggle-view:after {
        content: '\00a0';
        line-height: 2rem;
        width: 1rem;
        padding: 0 0.5rem;
        height: 1rem;
        border: 2px solid grey;
        cursor: pointer;
	}

    #top-bar .toggle-view.white:after {
        background-color: white;
    }
    
    #top-bar .toggle-view.black:after {
        background-color: black;
    }
}


/** Full Screen **/

#top-bar .full-screen {
	float: right;
    line-height: 2rem;
    padding-right: 1rem;
}

#top-bar .full-screen i{
	border: 2px solid grey;
    padding: 4px;
    cursor: pointer;
}


/** User logged **/

#top-bar .user-login .balance-bits {
    display: inline-block;
    padding-right: 0.5rem;
}

#top-bar .user-login .balance-bits span{
    line-height: 2rem;
    color: black;
}

#top-bar .user-login .username {
    display: inline-block;
    padding-right: 2rem;
}
@media handheld, only screen and (max-width: 767px) {
    #top-bar .user-login .username {
        padding-right: 0.5rem;
    }
}

#top-bar .user-login .username a {
    line-height: 2rem;
    font-weight: bold;
}


/** Not logged user **/

#top-bar .user-login .register {
    display: inline-block;

    padding-right: 1rem;
}

#top-bar .user-login .register a {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s, opacity 0.2s;
    height: 32px;
    padding: 0px 16px;
    background: rgb(90, 0, 238);
    color: white;
}

#controls-inner-container .register a:active {
    -webkit-box-shadow: 0px 3px 0px, 0px 3px 6px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 3px 0px, 0px 3px 6px rgba(0,0,0,.2);
    box-shadow: 0px 3px 0px, 0px 3px 6px rgba(0,0,0,0.2);
    position: relative;
    top: 6px;
}

#top-bar .user-login .login {    
    display: inline-block;
    padding-right: 0.8rem;
}

#top-bar .user-login .login a {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s, opacity 0.2s;
    height: 32px;
    padding: 0px 16px;
    background: rgb(90, 0, 238);
    color: white;

}